.addImageView:hover{
    -fx-cursor: hand;
}

.editImageView:hover{
    -fx-cursor: hand;
}

.removeImageView:hover{
    -fx-cursor: hand;
}

.addMenuItem{
    -fx-graphic: url("../images/add.png");
}
